.main-component-wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f5f5f5;
}

.main-component {
	max-width: 50%;
	background-color: white;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3), 0 20px 40px 0 rgba(0, 0, 0, 0.1);
	padding: 10px;
}
